<!-- faq.component.html -->
<section id="faq" class="min-h-screen bg-gray-100 flex flex-col items-center justify-center px-6 transition-opacity duration-500 py-10" [style.opacity]="aboutOpacity"
  [style.transform]="'translateY(' + aboutTransform + 'px)'">
  <h2 class="text-3xl font-bold text-gray-800 mb-8">Frequently Asked Questions</h2>
  <div class="faq-content w-full max-w-4xl bg-white shadow-lg rounded-lg p-6 space-y-6">
  <!-- FAQ Item 1 -->
  <div *ngFor="let item of faqItems" class="faq-item border-b border-gray-300 pb-4">
    <div
      class="flex items-center justify-between cursor-pointer"
      (click)="toggleAnswer(item)"
    >
      <h3 class="text-lg font-semibold text-gray-800">{{ item.question }}</h3>
      <div
        [class.rotate-45]="item.open"
        class="text-gray-500 transform transition-transform duration-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 4v16m8-8H4"
          />
        </svg>
      </div>
    </div>
    <p
      *ngIf="item.open"
      [@fadeAnimation]
      class="mt-2 text-gray-600"
    >
      {{ item.answer }}
    </p>
    </div>
  </div>
  <!-- Add more FAQ items as needed -->
</section>
